@import "../../palette.css";

.subText {
  font-size: 12px !important;
  color: var(--colorMutedLight);
  /*text-overflow: initial !important;*/
  display: block;
  margin-top: 1px;

  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  max-width: 200px;

  @media only screen and (max-width: 1023px) {
    max-width: 200px;
  }

  @media only screen and (max-width: 400px) {
      max-width: 100px;
  }
}

